In [1]:
import pickle
import pandas as pd

In [2]:
df1 = pickle.load(open("all_linkedin_worldwide_datascience_jobs_with_salary.pkl", "rb"))
df2 = pickle.load(open("all_gd_company_infos.pkl", "rb"))

In [3]:
jobs = df1.merge(df2, how = 'left', on = 'company')

In [4]:
jobs

,company,title,location,href,salary,description,skills,details,headquarters,company_size,company_type,industry,revenue,company_rating,recommend_to_a_friend,ceo_approval,interview_difficulty
0,TikTok,Data Scientist - TikTok Ads,"Mountain View, CA",https://www.linkedin.com/jobs/view/2148228403/...,"$144,000/yr",TikTok is the leading destination for short-fo...,[],,-1,-1,-1,-1,-1,-1,-1,-1,2.7
1,Tesla,Data Scientist,"Fremont, CA",https://www.linkedin.com/jobs/view/2147874276/...,"$107,000/yr",THE ROLE\n\nTesla's mission is to accelerate t...,[ Contribute on all the stages of Data Science...,Seniority Level\nEntry level\nIndustry\nAutomo...,"Palo Alto, CA (US)",10000+ employees,Company - Public (TSLA),Transportation Equipment Manufacturing,$2 to $5 billion (CAD) per year,3.5,59,75,2.9
2,Tesla,Data Scientist,"Fremont, CA",https://www.linkedin.com/jobs/view/2147874276/...,"$107,000/yr",THE ROLE\n\nTesla's mission is to accelerate t...,[ Contribute on all the stages of Data Science...,Seniority Level\nEntry level\nIndustry\nAutomo...,"Palo Alto, CA (US)",10000+ employees,Company - Public (TSLA),Transportation Equipment Manufacturing,$2 to $5 billion (CAD) per year,3.5,59,75,2.9
3,Facebook,"Data Scientist, Finance","Menlo Park, CA",https://www.linkedin.com/jobs/view/2016420647/...,"$150,000/yr",Facebook's mission is to give people the power...,[Apply your expertise in quantitative analysis...,Industry\nInternet\nEmployment Type\nFull-time...,"Menlo Park, CA (US)",10000+ employees,Company - Public (FB),Internet,$5 to $10 billion (CAD) per year,4.4,90,94,3.1
4,Facebook,"Data Scientist, Finance","Menlo Park, CA",https://www.linkedin.com/jobs/view/2016420647/...,"$150,000/yr",Facebook's mission is to give people the power...,[Apply your expertise in quantitative analysis...,Industry\nInternet\nEmployment Type\nFull-time...,"Menlo Park, CA (US)",10000+ employees,Company - Public (FB),Internet,$10+ billion (CAD) per year,4.4,90,94,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,Amazon Web Services (AWS),Data Scientist,"Jersey City, NJ",https://www.linkedin.com/jobs/view/1991684708/...,"$134,000/yr",Description\n\nExcited by using massive amount...,[ Understand the customer’s business need and ...,Industry\nComputer Software Information Techno...,"Seattle, WA (US)",10000+ employees,Company - Public (AMZN),Internet,$10+ billion (CAD) per year,3.9,77,85,3
485,PlayStation,Data Scientist Intern,"San Mateo, CA",https://www.linkedin.com/jobs/view/2149521530/...,"$139,000/yr",PlayStation isn’t just the Best Place to Play ...,[Building models to predict customer behaviors...,Seniority Level\nInternship\nIndustry\nCompute...,"San Mateo, CA (US)",5001 to 10000 employees,1994,Subsidiary or Business Segment,Video Games,3.7,75,73,2.7
486,Lockheed Martin,Data Scientist,"Shelton, CT",https://www.linkedin.com/jobs/view/2014612647/...,"$112,000/yr",Description:Performs exploratory research and ...,[],Seniority Level\nEntry level\nIndustry\nConstr...,"Bethesda, MD (US)",10000+ employees,Company - Public (LMT),Aerospace & Defence,$10+ billion (CAD) per year,3.9,78,96,2.6
487,Lockheed Martin,Data Scientist,"Shelton, CT",https://www.linkedin.com/jobs/view/2014612647/...,"$112,000/yr",Description:Performs exploratory research and ...,[],Seniority Level\nEntry level\nIndustry\nConstr...,"Bethesda, MD (US)",10000+ employees,Company - Public (LMT),Aerospace & Defence,$10+ billion (CAD) per year,3.9,78,96,2.6
488,Lockheed Martin,Data Scientist,"Shelton, CT",https://www.linkedin.com/jobs/view/2014612647/...,"$112,000/yr",Description:Performs exploratory research and ...,[],Seniority Level\nEntry level\nIndustry\nConstr...,"Bethesda, MD (US)",10000+ employees,Company - Public (LMT),Aerospace & Defence,$10+ billion (CAD) per year,3.9,78,96,2.6

In [ ]:
-drop duplicate rows
-enter missing salary data 
-identical descriptions?
-identical skills?
-identical details?
-missing values glass door data
-format salary and do conversions 
-might not need details column?